.link{
  font-size: 1.2em;
  padding: 1.2em;
  float: right;
}

.link:hover{
  background: rgb(61, 61, 61);
}

.active{
  font-size: 1.2em;
  font-weight: bold;
  padding: 1.2em;
  background: rgb(61, 61, 61);
  color:whitesmoke;
  float: right;
}