.pageTitle{
  text-align: center;
  margin-top: 2em;
}

.newtask{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  text-align: center;
  background-color: #b6b0b0;
  padding: 5em;
  border-radius: 15px;
  line-height: 3em;
  width: 50em;
  margin: 2em;
}

.ta{
  resize: none;
  background-color: white;
  height: 10em;
  border-radius: 15px;
  width: 80%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.field{
  margin: 1em 0;
}